name: Build Docker Image

on:
  push:
    branches: [ main ] # O la rama principal que uses

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: false # No haremos push al registro por ahora
        tags: tu_usuario_dockerhub/mi-app-clientes:latest # Cambia esto si planeas hacer push luego